:root {
  --grey: #a0a0a0;
  --rounded: 20px;
  --gap-basic: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  inset: 0;
  margin: auto;
  height: fit-content;
  margin-top: 10%;
  gap: var(--gap-basic);
  max-width: 700px;
}

.header {
  align-items: center;
  /* margin-left: 15%; */
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.header .title {
  display: flex;
}

.header .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
  field-sizing: content;
  width: fit-content;
}

.header .title,
.header .title input {
  font-size: 1.5rem;
  font-weight: 500;
}

.main-box {
  /* position: fixed;
  inset: 0;
  margin: auto;
  display: block;
  align-items: center;
  width: fit-content;
  height: fit-content;
  justify-content: space-between; */
  /* margin-top: 30%; */
  /* margin: 0 15%; */

  margin: auto;
  max-width: 700px;
  padding: var(--gap-basic);
  gap: 10px;
  margin-bottom: fit-content;
  border-radius: var(--rounded);
  background: yellow;
  box-shadow: 0 var(--gap-basic) 25px rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 0 var(--gap-basic);
  margin-bottom: var(--gap-basic);
  border-radius: var(--rounded);
}

.tasks-list:empty {
  visibility: hidden;
  padding: 0;
}

input:not([type='checkbox']),
button {
  appearance: non;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

input[type='checkbox'] {
  cursor: pointer;
}

#user-input {
  display: flex;
  width: 100%;
  max-width: fit;
  border-radius: var(--rounded);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding: var(--gap-basic);
  /* justify-content: center; */
  resize: none;
  background: #fff;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 500;
}

#user-input:focus-within {
  /* outline: 2px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) inset;
}

/* Not allow to write html or script inside textarea */
#user-input:valid {
  display: block;
}

/* input[type='checkbox'] {
  cursor: pointer;
} */

.btn {
  display: inline-block;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: calc(var(--gap-basic) - 2px);
  border: none;
  border-radius: 50%;
  /* border-radius: var(--rounded); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.main-header input[type='submit'] {
  /* position: absolute; */
  /* right: 25px; */
  /* margin-bottom: var(--gap-basic); */
  position: relative;
  display: flex;
  margin-right: 10px;
  background: #fff;
}

.btn:not(input[type='submit']):hover {
  opacity: 0.7;
  box-shadow: none;
}

#add-task-btn:hover {
  background: rgb(248, 248, 248);
}

.edit-btn {
  background: rgba(13, 218, 13, 0.5);
}

.delete-btn {
  background: rgba(255, 0, 0, 0.5);
}

.tasks-list {
  /* display: grid; */
  display: flex;
  flex-direction: column;

  gap: var(--gap-basic);
  max-height: 60vh;
  border-radius: var(--rounded);
  background: rgb(245, 245, 69);
  padding: var(--gap-basic);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-width: none;
  scrollbar-color: rgb(206, 206, 59) transparent;
}

.task {
  position: relative;
  display: grid;
  background: #fff;
  align-items: center;
  border-radius: var(--rounded);
  gap: 5px;
  padding: 10px 10px;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.task-content {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
}

.completed {
  color: var(--grey);
  text-decoration: line-through;
}

@media (max-width: 450px) {
  /* *{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  } */

  /* .tasks-list {
    margin: 0;
  } */

  .content{
    position: absolute;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 10vh;
  }

  .main-header{
    margin-bottom: 0;
  }

  .main-box{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    /* margin: 10vh 0 0 0; */
    /* max-height: 70%; */
  }
}
